%div.facebook
  = link_to image_tag("http://ipic.su/img/img7/fs/facebookicon.1427689582.png"), user_omniauth_authorize_path(:facebook)
= form_for(resource, as: resource_name, url: session_path(resource_name), html: { id: "signup", class: "form-signin" }) do |f|
  = devise_error_messages!
  %h2.form-signin-heading or
  = f.label :email, class: "sr-only"
  %br/
  = f.email_field :email, autofocus: true, class: "form-control", placeholder: "Your email"
  = f.label :password, class: "sr-only"
  = f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password"
  - if devise_mapping.rememberable?
    .field
      = f.check_box :remember_me
      = f.label :remember_me
  .actions
    = f.submit "Sign in", class: "btn btn-lg btn-primary btn-block"
  %p Don't have an account? #{link_to "Sign up", new_registration_path(resource_name)}
  - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
    = link_to "Forgot your password?", new_password_path(resource_name)