%div.facebook
  = link_to image_tag("http://ipic.su/img/img7/fs/facebookicon.1427689582.png"), user_omniauth_authorize_path(:facebook)
= form_for(resource, as: resource_name, url: session_path(resource_name), html: { id: "signup", class: "form-signin" }) do |f|
  = devise_error_messages!
  %h2.form-signin-heading= t('or')
  = f.label :email, class: "sr-only"
  %br/
  = f.email_field :email, autofocus: true, class: "form-control", placeholder: t('sign.you_mail')
  = f.label :password, class: "sr-only"
  = f.password_field :password, autocomplete: "off", class: "form-control", placeholder: t('sign.password')
  - if devise_mapping.rememberable?
    .field
      = f.check_box :remember_me
      = f.label :remember_me
  .actions
    = f.submit t('sign_in'), class: "btn btn-lg btn-primary btn-block"
  %p #{t('sign.dont_have_acc')} #{link_to t('sign_up'), new_registration_path(resource_name)}
  - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
    = link_to t('sign.forgot'), new_password_path(resource_name)