%nav.navbar.navbar-default
  %div.container
    %div.navbar-header
      = link_to "The Bookstore", root_path, class: "navbar-brand"
    %div.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li{class: "#{nav_active_home}"}
          = link_to "Home", "#"
        %li{class: "#{nav_active_shop}"}
          = link_to "Shop", "#"
      %ul.nav.navbar-nav.navbar-right
        -if user_signed_in?
          %li
            = link_to 'Sign out', destroy_user_session_path, :method => :delete
        -else
          %li
            = link_to 'Sign in', new_user_session_path
          %li
            #{link_to 'Sign up', new_user_registration_path}