%nav.navbar.navbar-default
  %div.container
    %div.navbar-header
      = link_to t('bookstore'), root_path, class: "navbar-brand"
    %div.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li{class: "#{nav_active_home}"}
          = link_to t('home'), root_url
        %li{class: "#{nav_active_shop}"}
          = link_to t('shop'), category_index_url
      %ul.nav.navbar-nav.navbar-right
        -if user_signed_in?
          %li
            = link_to "#{t('cart')} #{cart_status}", order_items_url
          %li
            = link_to t('sign_out'), destroy_user_session_path, :method => :delete
        -else
          %li
            = link_to t('sign_in'), new_user_session_path
          %li
            #{link_to t('sign_up'), new_user_registration_path}