%h2 Checkout
= form_for @order do |f|
  = f.label :delivery, "UPS Ground + $5.00"
  = f.check_box :delivery, {}, 5
  = f.label :delivery, "UPS Two Day + $10.00"
  = f.check_box :delivery, {}, 10
  = f.label :delivery, "UPS One Day + $15.00"
  = f.check_box :delivery, {}, 15
  = f.submit