%h2= @book.title
.row
  .col-xs-2
    = image_tag @book.image
  .col-xs-10
    = form_for @orderitem do |f|
      .left-p
        %b= "#{number_to_currency(@book.price)}"
      = f.number_field :quantity, value: 1, placeholder: "quantity", class: "input-quantity form-control"
      = f.hidden_field :book_id, value: @book.id
      = f.submit t('books.add_to_cart'), class: "btn btn-default button-margin"
    .book-info
      = @book.full_description

.row
  .col-xs-12
    .reviews
      %div
        %h3= t('books.review')
      -if user_signed_in?
        %div
          = link_to t('books.add_review'), new_book_review_url(book_id: @book.id)
.row
  .col-xs-12
    -unless @book.reviews.nil?
      -@book.reviews.each do |review|
        .review
          %b= "Rating: #{review.number} from 10"
          = review.title
          %br
          = review.text