%h2 Checkout
%h2 Shipping address
= form_for @shipping_address, url: shipping_address_url, method: :put do |f|
  = f.text_field :first_name, placeholder: "First name"
  = f.text_field :last_name, placeholder: "Last name"
  = f.text_field :address, placeholder: "Address"
  = f.text_field :city, placeholder: "City"
  = f.collection_select :country_id, @countries, :id, :name
  = f.text_field :zipcode, placeholder: "Zipcode"
  = f.text_field :phone, placeholder: "Phone"
  = hidden_field_tag :from_checkout
  = f.submit