.row
  .col-xs-4
    %h2= t('checkout.checkout')
  .col-xs-8
    %ul.steps
      %li.underline
        = link_to 'Billing address', checkout_path(:billing_address)
      %li
        = link_to 'Shipping address', checkout_path(:shipping_address)
      %li
        = link_to 'Delivery', checkout_path(:delivery)
      %li
        = link_to 'Payment', checkout_path(:payment)
      %li
        = link_to 'Confirm', checkout_path(:confirm)
.row
  .col-xs-4
    %h3= t('checkout.bill_address')
  .col-xs-4
    %h3= t('checkout.ship_address')
  .col-xs-4
    %h3= t('checkout.summary')
.row
  .col-xs-12
    = form_for @checkout_form, url: checkout_path, method: :put do |f|
      .col-xs-4
        .form-group.form-address
          = f.text_field :billing_first_name, placeholder: "First name", class: "form-control input-address"
          = f.text_field :billing_last_name, placeholder: "Last name", class: "form-control input-address"
          = f.text_field :billing_addr, placeholder: "Address", class: "form-control input-address"
          = f.text_field :billing_city, placeholder: "City", class: "form-control input-address"
          = f.collection_select(:billing_country_id, countries, :id, :name, {}, {class: "form-control input-address"})
          = f.text_field :billing_zipcode, placeholder: "Zipcode", class: "form-control input-address"
          = f.text_field :billing_phone, placeholder: "Phone", class: "form-control input-address"
          = f.submit t('checkout.save'), class: "btn btn-default"
      .col-xs-4
        .form-group.form-address
          %div{style: "overflow:auto; margin: 0 auto"}
          = f.check_box :copyaddress, {}, true, false
          %p= t('checkout.use_bill')
      .col-xs-4
        = render 'total'