.row
  .col-xs-12
    %h2= t('checkout.checkout')
.row
  .col-xs-12
    %h2= t('checkout.confirm')
.row
  .col-xs-3
    %b= t('checkout.ship_address')
    = link_to "(edit)", checkout_path(:shipping_address)
    %p= current_order.shipping_address.first_name
    %p= current_order.shipping_address.last_name
    %p= current_order.shipping_address.address
    %p= current_order.shipping_address.city
    %p= current_order.shipping_address.phone
  .col-xs-3
    %b= t('checkout.bill_address')
    = link_to "(edit)", checkout_path(:billing_address)
    %p= current_order.billing_address.first_name
    %p= current_order.billing_address.last_name
    %p= current_order.billing_address.address
    %p= current_order.billing_address.city
    %p= current_order.billing_address.phone
  .col-xs-3
    %b= t('checkout.shipment')
    = link_to "(edit)", checkout_path(:delivery)
    %p= current_order.delivery
  .col-xs-3
    %b= t('checkout.pay_info')
    = link_to "(edit)", checkout_path(:payment)
    %p= current_order.credit_card.number
    %p= current_order.credit_card.month
    %p= current_order.credit_card.year
.row.confirm-order
  .col-xs-12
    = form_for @checkout_form, url: checkout_path, method: :put do |f|
      = f.hidden_field :state, value: "in_queue"
      = f.submit t('checkout.place_order'), class: "btn btn-default"
-current_order.order_items.each do |value|
  .row.confirm-order
    .col-xs-2
      = image_tag value.book.image.thumb, class: "img-thumbnail"
    .col-xs-6
      %b= value.book.title
      %br
      = value.book.short_description
    .col-xs-1.book-price
      %b= number_to_currency(value.book.price)
    .col-xs-2.book-price
      %b= value.quantity
    .col-xs-1.book-price
      %b= number_to_currency(value.price)
.row.line
  .col-xs-10
  .col-xs-2
    .subtotal
      %b= "#{t('checkout.subtotal')}: #{number_to_currency(current_order.price)}"



