%h2 Checkout
%h2 Confirm
%h3 Shipping Address
= link_to "(edit)", checkout_path(:shipping_address)
= current_order.shipping_address.first_name
= current_order.shipping_address.last_name
= current_order.shipping_address.address
= current_order.shipping_address.city
= current_order.shipping_address.phone

Billing Address
= link_to "(edit)", checkout_path(:billing_address)
= current_order.billing_address.first_name
= current_order.billing_address.last_name
= current_order.billing_address.address
= current_order.billing_address.city
= current_order.billing_address.phone

Shipment
= link_to "(edit)", checkout_path(:delivery)
= current_order.delivery

Payment Information
= link_to "(edit)", checkout_path(:payment)
= current_order.credit_card.number
= current_order.credit_card.month
= current_order.credit_card.year

= form_for @checkout_form, url: checkout_path, method: :put do |f|
  = f.hidden_field :state, value: "in_queue"
  = f.submit