%h2= t('checkout.checkout')
.row
  .col-xs-4
    %h3= t('checkout.delivery')
  .col-xs-4
  .col-xs-4
    %h3= t('checkout.summary')
.row
  .col-xs-12
    = form_for @checkout_form, url: checkout_path, method: :put do |f|
      .col-xs-4
        .form-group.form-address
          = f.label :delivery, "UPS Ground + $5.00"
          = radio_button("checkout_form", "delivery", 5)
          = f.label :delivery, "UPS One Day + $10.00"
          = radio_button("checkout_form", "delivery", 10)
          = f.label :delivery, "UPS Two Day + $15.00"
          = radio_button("checkout_form", "delivery", 15)
          = f.submit t('checkout.save'), class: "btn btn-default"
      .col-xs-4
      .col-xs-4
        = render 'total'
