.row
  .col-xs-4
    %h2= t('checkout.checkout')
  .col-xs-8
    %ul.steps
      %li
        = link_to 'Billing address', checkout_path(:billing_address)
      %li
        = link_to 'Shipping address', checkout_path(:shipping_address)
      %li
        = link_to 'Delivery', checkout_path(:delivery)
      %li.underline
        = link_to 'Payment', checkout_path(:payment)
      %li
        = link_to 'Confirm', checkout_path(:confirm)
.row
  .col-xs-4
    %h3= t('credit_card.credit_card')
  .col-xs-4
  .col-xs-4
    %h3= t('checkout.summary')
.row
  .col-xs-12
    = form_for @checkout_form, url: checkout_path, method: :put do |f|
      .col-xs-4
        .form-group.form-address
          = f.text_field :number, placeholder: t('credit_card.number'), class: "form-control input-address"
          = f.number_field :month, placeholder: t('credit_card.month'), class: "form-control input-address"
          = f.number_field :year, placeholder: t('credit_card.year'), class: "form-control input-address"
          = f.text_field :cvv, placeholder: t('credit_card.cvv'), class: "form-control input-address"
          = f.submit t('checkout.save'), class: "btn btn-default"
      .col-xs-4
      .col-xs-4
        = render 'total'