%h2 Checkout
.row
  .col-xs-4
    %h3 Shipping address
  .col-xs-4

  .col-xs-4
    %h3 Order summary
.row
  .col-xs-12
    = form_for @checkout_form, url: checkout_path, method: :put do |f|
      .col-xs-4
        .form-group.form-address
          = f.text_field :shipping_first_name, placeholder: "First name", class: "form-control input-address"
          = f.text_field :shipping_last_name, placeholder: "Last name", class: "form-control input-address"
          = f.text_field :shipping_addr, placeholder: "Address", class: "form-control input-address"
          = f.text_field :shipping_city, placeholder: "City", class: "form-control input-address"
          = f.collection_select(:shipping_country_id, countries, :id, :name, {}, {class: "form-control input-address"})
          = f.text_field :shipping_zipcode, placeholder: "Zipcode", class: "form-control input-address"
          = f.text_field :shipping_phone, placeholder: "Phone", class: "form-control input-address"
          = f.submit "Save and continue", class: "btn btn-default"
      .col-xs-4
      .col-xs-4
        = render 'total'