%h2 Checkout
%h2 Billing address
= form_for @billing_address, url: address_url, method: :put do |f|
  = f.text_field :first_name, placeholder: "First name"
  = f.text_field :last_name, placeholder: "Last name"
  = f.text_field :address, placeholder: "Address"
  = f.text_field :city, placeholder: "City"
  = f.collection_select :country_id, @countries, :id, :name
  = f.text_field :zipcode, placeholder: "Zipcode"
  = f.text_field :phone, placeholder: "Phone"

  = check_box_tag :copyaddress, "ok", true
  = f.submit