-@items.each do |value|
  .row.item
    .col-xs-2
      = image_tag value.book.image.thumb, class: "img-thumbnail"
    .col-xs-6
      %b= value.book.title
      %br
      = value.book.short_description
    .col-xs-1.book-price
      %b= "#{number_to_currency(value.book.price)}"
    .col-xs-2.change-quautity-block
      = form_for(value, method: "put", html: {class: "form-inline"}) do |f|
        .form-group
          = f.number_field :quantity, class: "form-control", style: "width: 50px;", value: value.quantity, placeholder: "Quantity"
          = f.hidden_field :book_id,  value: value.book.id
          = f.submit "up", class: "btn btn-default"
    .delete-block.book-price
      %b= number_to_currency(value.price)
      = link_to order_item_url(value.id), method: :delete, class: "close" do
        %span &times
.row.line
  .col-xs-9
  .col-xs-3
    .subtotal
      %b= "#{t('checkout.subtotal')}: #{number_to_currency(current_order.price)}"

.row
  .col-xs-8
    = link_to t('order_items.empty_cart'), order_item_url(:all), method: :delete, class: "btn btn-default"
    = link_to t('order_items.continue_shop'), shop_url, class: "btn btn-default"
  .col-xs-4
    .right-buttons
      -if current_order.coupon
        %b Discount: #{number_to_currency(current_order.coupon.discount)}
        = link_to t('checkout.checkout'), checkout_path(:billing_address), class: "btn btn-default"
      -else
        = form_for current_order do |f|
          .form-inline.float-form
            = f.text_field :coupon, placeholder: t('checkout.code'), class: "form-control coupon-code-input", style: "width: 125px"
            = f.submit t('checkout.update'), class: "btn btn-default"
            = link_to t('checkout.checkout'), checkout_path(:billing_address), class: "btn btn-default"