= link_to t('home'), root_url
>>
= link_to t('shop'), shop_url
>>
= link_to @category.name, request.url


%h3 #{t('categories')} - #{@category.name}
.row
  .col-xs-9
    = render 'books'
  .col-xs-3
    = render 'categories'