%h2 New review for #{link_to @book.title, book_url(@book.id)}
= form_for @review, url: book_review_url, method: :post do |f|
  = f.number_field :number, placeholder: "Rating"
  = f.text_field :title, placeholder: "Short review"
  = f.text_area :text, placeholder: "Full review"
  = f.hidden_field :book_id, value: @book.id
  = f.submit "Add"