!!!
%html
  %head
    %title #{t('bookstore')}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tag
  %body
    = render 'layouts/header'
    .container
      = render 'layouts/flash'
      = yield